.div{width: 90% ;
    margin: 30px;
    position: fixed ;
    background-color: rgb(135, 238, 241)
}
.div1{
    margin: 10px;
    background-color: rgb(164, 152, 216) ;
    float: left;
    ;
}
.div2{
    margin: 10px;
    background-color: rgb(164, 152, 216);
    float: right;
    
}
.div3{
    
     margin:10px; 
    background-color: rgb(164, 152, 216);
    float: left;
}
.div4{
    float: right;
    margin:10px;
    background-color: rgb(164, 152, 216)
}
