.divb{
    width:100%;
    height: 2500px;
}
.div1
{
    background-color: rgb(39, 37, 37);
    width: 100%;
    height: 150px;
}
.div2
{
    font-size: 60px;
    margin: 45px 70px;
    float: left; 
    color: white;
    font-family:Arial; 
    
}
.div3
{
    font-size: 16px;
    margin: 75px;
    float: right;
    color: white;
    font-family: arial;
}
a{text-decoration: none}
a:visited[href*="htmlbook"]{color: white}
a:link[href*="htmlbook"]{color: #00aeef}
a:hover[href*="htmlbook"]{color: #00aeef}
.colorgrey{color: rgb(187, 187, 187);
    font-family: arial
}
.div4
{
    font-size: 60px;
    margin:70px 70px 45px ; 
    border-bottom: 2px rgb(187, 187, 187) dashed;
    padding-bottom: 30px;
    font-family: Arial;
}
.div5 
{
    font-size:34px;
    margin: 40px 70px;
    color:rgb(59, 56, 56);
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px rgb(187, 187, 187) dashed;
    padding-bottom: 30px;
}
.div6
{
    margin: 45px 70px 70px;
    border-bottom: 2px rgb(187, 187, 187) dashed;
    padding-bottom: 50px;
    display: inline-block;
    clear: both;
    padding:0 100px 85px 30px;
}
.div7
{
    background-color: rgb(0, 174, 239);
    box-shadow: 0 10px 10px 0 rgb(0, 0, 0, 0.25);
    width: 280px;
    height: 350px;
    float: left;
    margin:0 190px 0 60px;
}
.div8
{
    text-align: center;
    font-family: arial;
    font-size: 40;
    color: white;
    margin:25px 20px;
    padding: 20px 0 ;
    border-bottom: 1pt white dashed;
}
.div9
{
    color: white;
    font-family: arial;
    font-size: 14px;
    text-align: center;
    margin: 25px 20px 0;
    padding: 20px 5px; 
}
.button
{
    background-color: rgb(0, 118, 163);
    border: rgb(6, 111, 151);
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 5px 22px;
    margin: 10px 20px;
}
button:hover[href*="htmlbook"]
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.div10
{
    background-color: rgb(0, 174, 239);
    box-shadow: 0 10px 10px 0 rgb(0, 0, 0, 0.25);
    width: 280px;
    height: 350px;
    float: left;
    margin-right: 95px;
}
.div11
{
    text-align: center;
    font-family: arial;
    font-size: 40;
    color: white;
    margin:25px 20px;
    padding: 20px 0 ;
    border-bottom: 1pt white dashed;
}
.div12
{
    color: white;
    font-family: arial;
    font-size: 14px;
    text-align: center;
    margin: 25px 20px 0;
    padding: 20px 5px; 
}
.button1
{
    background-color: rgb(0, 118, 163);
    border: rgb(6, 111, 151);
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 5px 22px;
    margin: 10px 15px;
}
.div13
{
    background-color: rgb(0, 174, 239);
    box-shadow: 0 10px 10px 0 rgb(0, 0, 0, 0.25);
    width: 280px;
    height: 350px;
    float: left;
    margin: 0 0 0 95px;
}
.div14
{
    text-align: center;
    font-family: arial;
    font-size: 40;
    color: white;
    margin:25px 20px;
    padding: 20px 0 ;
    border-bottom: 1pt white dashed;
}
.div15
{
    color: white;
    font-family: arial;
    font-size: 14px;
    text-align: center;
    margin: 25px 20px 0;
    padding: 20px 5px; 
}
.button2
{
    background-color: rgb(0, 118, 163);
    border: rgb(6, 111, 151);
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 5px 22px;
    margin: 10px 45px;
}
.div16
{
    overflow: hidden;
    border-bottom: 2px rgb(187, 187, 187) dashed;
    width: 100%;
    margin: 10px 70px 30px;
}
.div17
{
    border-right: 2px  rgb(187, 187, 187) dashed;
    width: 42%;
    float: left;
}
.div18
{
    font-size: 18px;
    font-family: arial;
    color: rgb(85, 85, 85)
}
.div19
{
    margin: 30px 20px 30px 0;
}
li{
    list-style-type: none;
    padding: 15px 10px 15px 0;
}
.div20
{
    width: 84px;
    height: 84px ;
    background-color:rgb(204, 204, 204);
    float:left;
    margin-right: 30px

}
.div21
{
    margin: 0 15px 0 30px;
    padding: 0 15px 0 30px;
    font-family: arial;
}
.div22
{
    font-size: 17px;
    font-family: arial;
    margin: 15px 0 0 70px;
    color:  rgb(136, 136, 136)
}
.div23
{
    font-size: 20px;
    font-family: arial;
    width: 30%;
    padding-left: 45px;

}


